@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    font-family: 'Alatsi';
    font-weight: 400;
    transition: linear all 0.3s;
}

body {
    margin: 0;
}

li {
    list-style: none;
}

p, span {
    font-family: 'Old Standard TT', serif;
}

.orange {
    color: #F46B47;
}

.green {
    color: #207D85;
}

h2 {
    font-size: 29px
}
a {
    color: black;
    text-decoration: none;
}

/* general classes */

.btn {
    padding: 5px 20px !important;
    width: fit-content;
    border-radius: 90px;
    background-color: #207D85;
    color: white;
    font-family: 'Alatsi';
    font-weight: 400;
    border: none;
    border: transparent 0.5px solid;
}

.btn:hover {
    cursor: pointer;
    color:  #207D85;
    background-color: transparent;
    border: 0.5px solid  #207D85;
}

.btn2{
    cursor: pointer;
    color:  #207D85;
    padding: 5px 20px !important;
    border-radius: 90px;
    z-index: 2;
    background-color: transparent;
    border: 0.5px solid  #207D85;
}

.btn2:hover {
    background-color: #207D85;
    width: fit-content;
    text-align: center;
    padding: 5px 20px;
    border-radius: 90px;
    color: white;
    cursor: pointer;
}

.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}

.fade-in {
	-webkit-animation: fade-in 2.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 2.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.kenburns-top {
	-webkit-animation: kenburns-top 10s ease-out both;
	        animation: kenburns-top 10s ease-out both;
}


/* toggle buttons */

.toggle-btns-container {
    position: fixed;
    right: 4vw;
    bottom: 100px;
    z-index: 10;
    height: 18vw;
}

#main-toggle-btn {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    background-color: #F46B47;
    color: white;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
}

#toggle-btns div {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    color: #207D85;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 10px;
    cursor: pointer;
    opacity: 0;
    /* visibility: hidden; */
    transition: all linear 0.3s;
}


@media screen and (max-width : 700px) {
    .toggle-btns-container {
        right: 8px;
        z-index: 20;
        bottom: 8px;
        display: flex;
        flex-direction: column-reverse;
    }
    #main-toggle-btn {
        margin-top: 10px;
    }
    #toggle-btns {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* Nav */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 9vw;
    height: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 82vw;
    z-index: 10;
    transition: linear all 0.3s;
}

.nav * {
    font-size: 18px;
}

.nav .logo {
    Font-size: 25px;
    font-family: 'Alatsi'
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    min-width: 650px;
}
.nav ul li {
    padding: 5px
}   

.menu-mobile-div {
    height: 28px;
    min-width: 40px;
    position: relative;
    display: none;
}

.menu-mobile-div div:first-child {
    width: 100%;
    height: 0;
    border-top: 3px solid #207D85;
    position: absolute;
    top: 0; 
    right: 0;
    border-radius: 90px
}

.menu-mobile-div div:last-child {
    width: 100%;
    height: 0;
    border-top: 3px solid #207D85;
    position: absolute;
    bottom: 0; 
    right: 0;
    border-radius: 90px
}

.menu-mobile-div div:nth-child(2){
    width: 50%;
    height: 0;
    border-top: 3px solid #207D85;
    position: absolute;
    top: calc(50% - 1.5px); 
    right: 0;
    border-radius: 90px
}

/* .menu-mobile-div:hover div:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
}
.menu-mobile-div:hover div:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
}
.menu-mobile-div:hover div:nth-child(2) {
    opacity: 0;
} */
@media screen and (max-width : 1000px) {
    .nav ul li {
        font-size: 15px
    }   
    .nav ul {
        min-width: 500px;
        overflow: hidden;

    }
}

@media screen and (max-width : 700px) {
    .menu-mobile-div {
        display: block;
    }
    .nav ul {
        flex-direction: column;
        align-items: center;
        height: 0;
        margin: 0;
        min-width: 65%;
        padding-left: 0;
    }
    .nav ul li {
        margin: 5px 0;
    }
    .nav {

        align-items: flex-start;
    }
}

/* header */


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 165px 9vw;
}

header section {
    width: 45%;
}

header section:first-of-type{
    padding-right: 50px;
    width: 40%;
}

header section h1 {
    font-size: 30px;
    margin-top: 0;
    line-height: 1.5;
}

header section p {
    margin: 30px 0;
    line-height: 1.4;
}

.header-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-btn-1 {
    background-color: #207D85;
    width: fit-content;
    text-align: center;
    padding: 5px 20px;
    border-radius: 90px;
    margin-right: 50px;
}

.header-btn-2 {
    border: 0.5px solid #207D85;
    width: fit-content;
    padding: 5px 20px;
    color: #207D85;
    border-radius: 90px;
}

.header-btn-2:hover {
    background-color: #207D85;
    width: fit-content;
    text-align: center;
    padding: 5px 20px;
    border-radius: 90px;
    margin-right: 50px;
    color: white;
    cursor: pointer;
}

@media screen and (max-width : 1200px) {
    header section:first-of-type {
        width: 50%;
    }
}

@media screen and (max-width : 1000px) {
    header section:first-of-type {
        width: 80%;
    }
    .main-image-section {
        display: none;
    }   
}

@media screen and (max-width : 600px) {
    header {
        padding: 70px 9vw 100px 9vw !important;
    }
    header section:first-of-type.title-section {
        width: 100%;
        padding-right: 0;
    }

    .header-btns-container {
        flex-direction: column;
    }

    .header-btns-container div {
        margin-bottom: 10px
    }
}


/* Nos services */

#services-main-container {
    position: relative;
    z-index: 1;
    min-height: 620px;
}

#services-container {
    position: absolute;
    left: 9vw;
    width: 82vw;
    top: -70px;
    height: 600px;
    z-index: 2;
    background-color: white;
    padding: 5%;
    padding-bottom: 8%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#services-cards section {
    width: 33.3%;
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 50px
}

#services-cards section  h4{
    color: #207D85;
    font-size: 19px;
}

#services-cards section .services-icone {
    height: 60px;
    width: 60px;
    /* border: solid black 0.5px; */
    border-radius: 90px;
}

#services-cards section p {
    padding-top: 20px;
    text-align: center;
    line-height: 1.7;
}
@media screen and (max-width : 1050px) {
    #services-cards section {
        padding: 0 20px;
    }
}
@media screen and (max-width : 800px) {
    #services-container {
        height: 700px;
    }
    #services-main-container{
        min-height: 700px;
    }
}
@media screen and (max-width : 620px) {
    #services-main-container{
        height: 1250px;
    }
    #services-main-container h2{
        margin-bottom: 30px;
    }
    #services-container{
        height: fit-content;
    }
    #services-cards {
        flex-direction: column;
    }
    #services-cards section{
        width: 100%;
        height: 350px;
        margin-top: 30px;
    }
    #services-cards section h4 {
        margin-top: 0;
    }

}

/* notre travail component */

#travail-container {
    padding: 0 9vw 100px 9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#travail-container h2 {
    margin-bottom: 30px;
    font-family: 'Alatsi';
    font-weight: 400
}

#travail-btns-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 90px;
}
#travail-btns-list li {
    width: 130px;
    text-align: center;
    border-radius: 90px;
    padding: 5px 10px;
}

#projects-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#projects-container .project-card  {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    padding: 0 calc(10% /6)
}



#projects-container .project-card h4 {
    color: #F46B47;
    text-align: center;
}

#projects-container .project-card .project-image-div {
    min-width: 100%;
    height: auto;
    position: relative;
    padding-top: 52%;
}

#projects-container .project-card .project-image-div div {
    position: absolute !important;
    top: 0;
    left: 0;
}
#projects-container .plus-div {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    color: white;
    font-size: 100px;
    font-weight: 300;
    text-align: center;
    padding-top: calc(10% - 35px);
    opacity: 0;
    font-family: 'Open sans';
}
#projects-container .project-card:hover .plus-div {
    opacity: 1;
}

.project-image {
    height: 100%;
    width: 100%;
}

.more-projects-container {
    width: 100%;
    position: relative;
    margin-right: calc(10% /6);
}

.more-projects-container a{
    position: absolute;
    right: 0;
    padding: 5px 20px;
    border-radius: 90px;
    margin-right: calc(10% /6);
}


@media screen and (max-width : 800px) {
    #travail-container h2 {
        margin-top: 60px;
    }
    #travail-btns-list {
        padding: 20px 0;
    }
    #projects-container{
        justify-content: space-between;
    }
    #projects-container .project-card {
        width: 45%;
    }
    
}

@media screen and (max-width : 510px) {
    #travail-btns-list {
        padding: 10px 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    #travail-btns-list li {
        width: fit-content;
        margin: 5px 7px;
    }
    #projects-container .project-card{
        width: 100%;
        margin-bottom: 0;
    }
}
/* tarifs */

#tarifs-main-container {
    padding: 0 9vw 100px 9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tarifs-main-container h2 {
    margin-bottom: 50px;
    margin-top: 0;
    color: #207D85;
}

#tarifs-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#tarifs-container section {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5% 50px;
}

#tarifs-container section p:nth-child(3){
    margin-bottom: 0;
}

#tarifs-container section h4{
    margin-top: 0;
    color: #207D85;
    font-size: 19px;
}

#tarifs-container section p {
    text-align: center;
    line-height: 1.7;
}

.services-description {
    padding-bottom: 20px;
}

#tarifs-container section .price {
    padding-bottom: 20px;
    font-size: 30px;
    color: #F46B47;
    font-family: 'Alatsi';
    margin-top: 0;
}

#tarifs-container section .price span{
    font-size: 16px;
}

@media screen and (max-width : 1000px) {
    #tarifs-container section {
        padding: 50px 2%;
        width: 32%;
    }
}

@media screen and (max-width : 510px) {
    #tarifs-container {
        flex-direction: column;
    }
    #tarifs-container section{
        width: 100%;
        padding: 20px;
        margin: 5px 0;
    }
}
/* About component */

#about-container {
    padding: 100px 9vw 50px 9vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about-container section {
    width: 45%;
    height: 284px;
}

#about-container section:first-of-type{
    padding-right: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about-container section:first-of-type{
    padding-right: 50px;
    width: 40%;
}

#about-container section h2 {
    font-size: 30px;
    margin-top: 0;
    line-height: 1.5;
}

#about-container section p {
    margin: 30px 0 0 0;
    line-height: 1.4;
}

#about-container section:last-of-type{
    width: 592px;
}

#about-images-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#about-images-container > div {
    width: 50%;
}

#about-images-container > div > div {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

#about-images-container .about-image {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media screen and (max-width : 1000px) {
    #about-container {
        flex-direction: column;
        align-items: center;
    }
    #about-container section:first-of-type {
        width: 100%;
        height: fit-content;
        margin-bottom: 50px;
    }
}

@media screen and (max-width : 510px) {
    #about-container {
        padding-top: 50px;
    }
    #about-container section:first-of-type {
        padding: 0;
    }
    #about-container section:last-of-type{
        width: 100vw;
        height: fit-content;
    }
}

/* footer */

footer {
    padding: 20px 9vw 70px 9vw;
}

footer #footer-hr {
    position: relative;
    border-top: 1px solid black;
}

footer  #footer-logo {
    font-size: 25px;
    position: absolute;
    top: -18px;
    left: calc(41vw - 75px);
    background-color: white;
    width: 150px;
    text-align: center;
    height: 30px;
}

#footer-container {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer-container p {
    margin-bottom: 5px;
}
#footer-container > div {
    width: 205px;
}

#footer-container > div:nth-child(2){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#footer-container > div:nth-child(2) svg {
    height: 21px;
    width: 23px;
    margin: 20px 0;
}


#footer-container > div:last-child p{
    text-align: right;
}

@media screen and (max-width : 750px) {
    #footer-container {
        flex-direction: column;
    }
    #footer-container p {
        margin-bottom: 10px;
        text-align: center !important;
    }
}

/* contact popin */

.popup-wrapper {
    min-height: 100vh;
    min-width: 100vw;
    padding: 15vh 10vw;
    box-sizing: border-box;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: 'none';
}

.popup-container {
    width: 80vw;
    height: 70vh;
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.popup-container h2 {
    position: absolute;
    color: #207D85;
}


.popup-container .form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 45%;
    padding-top: 100px;
}

.popup-container .form-section input, .popup-container .form-section textarea {
    padding: 2% 20px;
    border-radius: 5px;
    border: none;
    background-color: #FCE7D5;
    width: 100%;
    font-family: 'Old Standard TT';
    box-sizing: border-box;
    transition: none;
    border: white 0.5px solid;
}

.project-textarea {
    height: 60%;
}

.form-btn-container {
    width: 100%;
    position: relative;
    height: 45px;
}

.form-btn-container button {
    position: absolute;
    right: 0;
    top: 10px;

}

#close-form {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    transition: 0.3s all linear;
}

#close-form:hover {
    transform: rotate(90deg);
    cursor: pointer
}


@media screen and (max-width: 600px) {
    .popup-container .form-section {
        width: 100%
    }
    .popup-container .form-section:nth-of-type(3) {
        padding-top: 20px;
    }
    .popup-container .form-section input, .popup-container .form-section textarea {
        margin: 10px 0;
    }
    .popup-wrapper {
        padding-top: 5vh;
    }
    .popup-container {
        flex-wrap: wrap;
        height: 90vh;
        overflow-y: scroll;
    }
}

/* page notre travail */

.projects-wrapper {
    height: 100%;
    width: 100vw;
    background-color: red;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-3 21:20:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
 @-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  