@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

* {
    font-family: 'Alatsi';
    font-weight: 400;
}

body {
    margin: 0;
}

p, span {
    font-family: 'Old Standard TT', serif;
}

.orange {
    color: #F46B47;
}

h2 {
    font-size: 29px
}
/* general classes */

.btn {
    padding: 5px 20px;
    width: fit-content;
    border-radius: 90px;
    background-color: #207D85;
    color: white;
    font-family: 'Alatsi';
    font-weight: 400
}

/* toggle buttons */

.toggle-btns-container {
    position: fixed;
    right: 4vw;
    bottom: 100px;
    z-index: 10;
    height: 18vw;
}

#main-toggle-btn {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    background-color: #F46B47;
    color: white;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
}

#toggle-btns div {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    color: #207D85;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 10px;
    cursor: pointer;
}

/* Nav */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 9vw;
    height: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 82vw;
    z-index: 10;
}

.nav * {
    font-size: 18px;
}

.nav .logo {
    Font-size: 25px;
    font-family: 'Alatsi'
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    min-width: 650px;
}
.nav ul li {
    padding: 5px
}   

@media screen and (max-width : 1000px) {
    .nav ul li {
        font-size: 15px
    }   
}
/* header */


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 165px 9vw;
}

header section {
    width: 45%;
}

header section:first-of-type{
    padding-right: 50px;
    width: 40%;
}

header section h1 {
    font-size: 30px;
    margin-top: 0;
    line-height: 1.5;
}

header section p {
    margin: 30px 0;
    line-height: 1.4;
}

.header-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-btn-1 {
    background-color: #207D85;
    width: fit-content;
    text-align: center;
    padding: 5px 20px;
    border-radius: 90px;
    color: #FCF3EB;
}

.header-btn-2 {
    border: 0.5px solid #207D85;
    width: fit-content;
    padding: 5px 20px;
    color: #207D85;
    border-radius: 90px;
}

@media screen and (max-width : 1000px) {
    header section:first-of-type {
        width: 80%;
    }
    .main-image-section {
        display: none;
    }   
}

@media screen and (max-width : 510px) {
    header {
        padding: 70px 9vw 100px 9vw !important;
    }
    header section:first-of-type.title-section {
        width: 100%;
        padding-right: 0;
    }

    .header-btns-container {
        flex-direction: column;
    }

    .header-btns-container div {
        margin-bottom: 10px
    }
}


/* Nos services */

#services-main-container {
    position: relative;
    z-index: 1;
    min-height: 620px;
}

#services-container {
    position: absolute;
    left: 9vw;
    width: 82vw;
    top: -70px;
    height: 600px;
    z-index: 2;
    background-color: white;
    padding: 5%;
    padding-bottom: 8%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#services-cards section {
    width: 33.3%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 50px
}

#services-cards section  h4{
    color: #207D85;
    font-size: 19px;
}

#services-cards section .services-icone {
    height: 60px;
    width: 60px;
    border: solid black 0.5px;
    border-radius: 90px;
}

#services-cards section p {
    padding-top: 20px;
    text-align: center;
    line-height: 1.7;
}
@media screen and (max-width : 1000px) {
    #services-cards section {
        padding: 0 20px;
    }
}

@media screen and (max-width : 510px) {
    #services-main-container{
        height: 1250px;
    }
    #services-main-container h2{
        margin-bottom: 30px;
    }
    #services-container{
        height: fit-content;
    }
    #services-cards {
        flex-direction: column;
    }
    #services-cards section{
        width: 100%;
        height: 350px;
        margin-top: 30px;
    }
    #services-cards section h4 {
        margin-top: 0;
    }

}

/* notre travail component */

#travail-container {
    padding: 0 9vw 100px 9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#travail-container h2 {
    margin-bottom: 30px;
    font-family: 'Alatsi';
    font-weight: 400
}

#travail-btns-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 90px;
}
#travail-btns-list li {
    width: 130px;
    text-align: center;
}

#projects-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#projects-container .project-card  {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}
#projects-container .project-card h4 {
    color: #F46B47
}

#projects-container .project-card .project-image {
    border: 0.5px solid black;
    min-width: 100%;
    height: auto;
    position: relative;
    padding-top: 75%;
}

#projects-container .project-card .project-image div {
    position: absolute;
}

.more-projects-container {
    width: 100%;
    position: relative;
}

.more-projects-container  div{
    position: absolute;
    right: 0;
    padding: 5px 20Px;
    border-radius: 90px;
}
@media screen and (max-width : 510px) {
    #travail-btns-list {
        padding: 10px 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    #travail-btns-list li {
        width: fit-content;
        margin: 5px 7px;
    }
    #projects-container .project-card{
        width: 47%;
        margin-bottom: 0;
    }
}
/* tarifs */

#tarifs-main-container {
    padding: 0 9vw 100px 9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tarifs-main-container h2 {
    margin-bottom: 50px;
    margin-top: 0;
    color: #207D85;
}

#tarifs-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#tarifs-container section {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5% 50px;
}
#tarifs-container section h4{
    margin-top: 0;
    color: #207D85;
    font-size: 19px;
}

#tarifs-container section p {
    text-align: center;
    line-height: 1.7;
}

.services-description {
    padding-bottom: 20px;
}

#tarifs-container section .price {
    padding-bottom: 20px;
    font-size: 30px;
    color: #F46B47;
    font-family: 'Alatsi';
}

#tarifs-container section .price span{
    font-size: 16px;
}

@media screen and (max-width : 1000px) {
    #tarifs-container section {
        padding: 50px 2%;
        width: 32%;
    }
}

@media screen and (max-width : 510px) {
    #tarifs-container {
        flex-direction: column;
    }
    #tarifs-container section{
        width: 100%;
        padding: 20px;
        margin: 5px 0;
    }
}
/* About component */

#about-container {
    padding: 100px 9vw 50px 9vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about-container section {
    width: 45%;
    height: 284px;
}

#about-container section:first-of-type{
    padding-right: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about-container section:first-of-type{
    padding-right: 50px;
    width: 40%;
}

#about-container section h2 {
    font-size: 30px;
    margin-top: 0;
    line-height: 1.5;
}

#about-container section p {
    margin: 30px 0 0 0;
    line-height: 1.4;
}

#about-container section:last-of-type{
    width: 592px;
}

#about-images-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#about-images-container > div {
    width: 50%;
}

#about-images-container > div > div {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

#about-images-container .about-image {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media screen and (max-width : 1000px) {
    #about-container {
        flex-direction: column;
        align-items: center;
    }
    #about-container section:first-of-type {
        width: 100%;
        height: fit-content;
        margin-bottom: 50px;
    }
}

@media screen and (max-width : 510px) {
    #about-container {
        padding-top: 50px;
    }
    #about-container section:first-of-type {
        padding: 0;
    }
}
/* footer */

footer {
    padding: 20px 9vw 70px 9vw;
}

footer #footer-hr {
    position: relative;
    border-top: 1px solid black;
}

footer  #footer-logo {
    font-size: 25px;
    position: absolute;
    top: -18px;
    left: calc(41vw - 75px);
    background-color: white;
    width: 150px;
    text-align: center;
    height: 30px;
}

#footer-container {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer-container p {
    margin-bottom: 5px;
}
#footer-container > div {
    width: 205px;
}

#footer-container > div:nth-child(2){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#footer-container > div:nth-child(2) svg {
    height: 21px;
    width: 23px;
}


#footer-container > div:last-child p{
    text-align: right;
}

@media screen and (max-width : 510px) {
    #footer-container {
        flex-direction: column;
    }
    #footer-container * {
        margin-bottom: 10px;
        text-align: center !important;
    }
}