
.one-project-page .one-project-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 7vw;
}


.one-project-page .main-image-container {
    padding: 4vw 7vw 3vw 7vw;
}


.one-project-page h1, .one-project-page h2, .one-project-page h4{
    margin-top: 0;
}

.one-project-page .main-image-container .main-image {
    width: 86vw;
}

.one-project-page .project-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 90px 7vw 0 7vw;
}

.project-info-container .info-div-1 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.project-info-container .info-div-2 {
    width: 50%;
}

.project-info-container .info-div-3 {
    width: 30%;
}
.one-project-page .project-info-container:nth-of-type(3) {
    margin-top: 90px;
}
.project-info-container .project-description {
    width: 30%;

}


.project-info-container .project-title-container {
    width: 50%;
    height: 400px;
    padding-top: 45px;
    position: relative;
    
}
        
.project-info-container h1 {
        font-size: 60px;
        font-family: 'Old Standard TT', serif;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 10;
    }



.galerie-container {
    margin: 0 7vw 7vw 7vw;
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 86vw;
}

.galerie-container > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 50%;
}

.galerie-image-1 {
    width: 50%;
    background-color: lightslategrey;
    height:600px;
}

.galerie-image-2 {
    height: 50%;
    width: 100%;
    background-color: lightgray
}

.galerie-image-3 {
    height: 50%;
    width: 100%;
    background-color: grey
}


@media screen and (max-width : 700px) {

    .one-project-page .project-info-container {
    flex-direction: column;
}
.one-project-page .project-info-container{
    margin-top: 30px;

}
.one-project-page .project-info-container .info-div-1 > div{
    margin: 20px 0;
}
.project-info-container .info-div-3, .project-info-container .project-description, .project-info-container .project-title-container {
    width: 100%;
    margin: 20px 0;
}

}